html{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height:0px;
}
body {
    background-color: LightGray;
    font-family: 'Voltaire', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin:0;
}
.content {
	/*width: 30rem;*/
	padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
    text-align: center;
}
h2 {
	display: block;
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
a { 
    text-decoration: none; 
}
ul {
    list-style: none;
    padding-left: 0;
}
#primary_nav_wrap
{
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
}
#primary_nav_wrap > .content {
    height: 6rem;
    width: 60em;
    margin-top:auto;
}
#primary_nav_wrap .logo {
    height: 4.375rem;
    float: left;
    margin: 1rem;
     }
#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:right;
	color: #838994;
	font-family: 'Voltaire', sans-serif;
    font-size: 1.04rem;
	padding-right: 4rem;
	padding-top: 1rem;
}

#primary_nav_wrap ul a
{
	display:block;
	color: #452065;
	font-family: 'Voltaire', sans-serif;
    font-size: 1.04rem;
	text-decoration:none;
	line-height:32px;
	padding:0 15px;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background: #F9F9F9;
    border-radius: 5px;
}

#primary_nav_wrap ul li:hover
{
	background:#f2f2f2;
	cursor: pointer;
    color: #452065;
    border-radius: 5px;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
	border-radius: 5px;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}